// Font Size
$font-size-0: 12px;
$font-size-1: 14px;
$font-size-2: 16px;
$font-size-3: 18px;
$font-size-4: 20px;
$font-size-5: 22px;
$font-size-6: 24px;
$font-size-7: 30px;
$font-size-8: 32px;
$font-size-9: 34px;
$font-size-10: 36px;

// Font Weight
$font-weight-1: 300;
$font-weight-2: 400;
$font-weight-3: 500;
$font-weight-4: 600;
$font-weight-5: 700;

// Fonts Mixin
@mixin font-title {
  font-size: $font-size-6; font-weight: $font-weight-5;
}
@mixin font-2 {
  font-size: $font-size-3;
  font-weight: $font-weight-3;
}

// Fonts Class
.font-title { @include font-title; }
.font-2 { @include font-2; }