@import 'vars';

// Пишем основной код стилей

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #3A3A3A;
}

.container {
  max-width: 1200px;
  margin: auto;
}

input[type="text"] {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

svg {height: 100%;display: block;margin: auto;}